<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=100%" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header class="container">
        <div class="row col-md-10 col-md-offset-1 col-xs-12 col-xs-offset-0">
            <h1>
                <a href="@Url.Action("Index", "Home", new { area = "" })">
                    <i class="fa fa-instagram"></i>
                    INSTA Console
                </a>

                @Html.ActionLink("API", "Index", "Help", new { area = "" }, null)
            </h1>

            @Html.ActionLink("Login", "Login", "User", new { area = "" }, new { @class = "right menu-login" })
            
            <a onclick="javascript:$('#HowToAddToMobile').modal();" class="right">
                <i class="fa fa-mobile"></i>
                Add it to your mobile phone
            </a>
        </div>

    </header>

    @RenderBody()

    <div class="page_separator"></div>

    <footer class="container">
        <div class="row col-md-10 col-md-offset-1 col-xs-12 col-xs-offset-0">
            <span class="pull-right">
                © INSTA Console
            </span>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
